@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
}

form {
  display: inline-block;
  margin-top: 20px;
}

label, input, button {
  display: block;
  margin: 10px auto;
}
h1 {
    margin: 20px 0;
    color: #72007a;
    font-size: 2em;
    font-weight: 500;
}

form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 400px;
}

form label {
    color: #7a006a;
    font-weight: 500;
    margin-bottom: 10px;
    align-self: flex-start;
}

input[type="text"] {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 20px;
    border: 1px solid #bbb;
    border-radius: 5px;
    font-size: 1em;
}

button {
    padding: 12px 20px;
    background-color: #6c007a;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #47004d;
}

h2 {
    margin: 30px 0 10px;
    color: #47004d;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 90%;
    max-width: 400px;
}

li {
    background: white;
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li a {
    color: #7a0076;
    text-decoration: none;
    font-weight: 500;
}

li a:hover {
    text-decoration: underline;
}